

body {
    
    position: relative;
    background-color: #ffffff;
    color: #6d6868;
    text-align: center;
}

body div h1{
    border-radius: 100px;
    font-size: 70px;
} 

#wrap {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}

header   {
    padding: 40px;
    color: #907272;
}


 .sitetitle{
      font-size: 100px;
      text-align: center;
}
  
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
  
nav ul li{
      margin-right: 2rem;
}
  
nav ul li a {
      color: #e9b066fd;
      font-size: 20px;
      text-decoration: none;
}

main{
    padding: 200px;
    height : 400px;
    padding-top: 100px;
}
main div p{
      padding-top: 60px;
      color: #949090;
 }
     main div p.english{
      padding-top: 5px;
     }
  
     .flex {
      display: flex;
    }
  
  .circle img {
    border-radius: 50%;
    width: 300px;
  }
  .circle{
      text-align: center;
  }
  .circle img {
    border-radius: 50%;
    width: 400px;
  }