
body {

    position: relative;
    background-color: #ffffff;
    color: #6d6868;
    text-align: center;
  }
  body div h1{
    border-radius: 100px;
    font-size: 70px;
  }
  
  #wrap {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}

header   {
    padding: 20px;
    color: #907272;
}

.sitetitle{
    font-size: 80px;
    text-align: center;
}
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  
    nav ul li{
      margin-right: 2rem;
    }
  
    nav ul li a {
      color: #e9b066fd;
      font-size: 20px;
      text-decoration: none;
    }
 
  .fade,
  .fade2 {
    width: 160px;
    margin: 20px;
  }
  
  .row {
    position: relative;
  }
  
  #move {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
  }
  
  .fade2 {
    opacity: .2;
    transition: opacity, 1s;
  }
  
  .fade2:hover {
    opacity: 1;
  }